@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body{
  font-family: "Inter", sans-serif;
}


:root{
  --dark-color: #000000;
  --white-color: #FFFFFF;
  --grey-color: #D9D9D9;
  --blue-color: #336EA5;
  --qizgish-grey-color: #5c4c4c;
  --toq-grey-color: #383838;
  --red-color: rgb(243, 17, 17);
}

::-webkit-scrollbar{
  width: 0px;
}