header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    background-color: var(--dark-color);
    z-index: 100;
}

header .container{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    color: var(--white-color);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 10px;

    .brend h1{
        text-transform: uppercase;
        font-size: 35px;
        cursor: pointer;

        &:hover{
            transform: scale(1.04);
        }
    }

    .hamburger{
        border: 1px solid var(--white-color);
        border-radius: 5px;
        width: 45px;
        height: 45px;
        display: none;
        align-items: center;
        justify-content: center;

        i{
            font-size: 30px;
        }
    }

    .menus{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px; 

        i{
            display: none;
        }

        a{
            color: var(--white-color);
            text-decoration: none;
            font-size: 28px;

            &:hover{
                transform: translateY(-10px);
            }
        }
    }
}


// responsive
@media only screen and (max-width: 1200px){
    header{

        .container{
            max-width: 991px;
            padding: 0 10px 10px;
        }
    }
}

@media only screen and (max-width: 991px){
    header{

        .container{
            max-width: 768px;
            padding: 0 10px 10px;

            .hamburger{
                display: flex;
            }

            .menus{
                position: absolute;
                width: 300px;
                max-width: 100vw;
                height: 100vh;
                top: -100vh;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background-color: var(--dark-color);
                color: var(--white-color);

                &.active{
                    top: 0;
                }

                i{
                    position: absolute;
                    display: block;
                    top: 20px;
                    right: 20px;
                    font-size: 35px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px){
    header{
        .container{
            max-width: 500px;
        }
    }
}